<p>gallery works!</p>

<ul class="d-flex list-unstyled justify-content-between">
    <li>
        <a routerLink="animals" routerLinkActive="border text-dark bg-success text-white">animals</a>
    </li>
    <li>
        <a  routerLink="flowers" routerLinkActive="border text-dark bg-success text-white">flowers</a>
    </li>
    <li>
        <a  routerLink="food" routerLinkActive="border text-dark bg-success text-white">food</a>
    </li>
</ul>
<div class="bg-text-danger">
<router-outlet></router-outlet>
</div>